.UpcomingEvents{
    position: relative;
    /* margin-top: 60px; */
    .image-slider {
        position: relative;
        height: 70vh;
        justify-content: center;
        border-bottom:3px solid #000000;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: row;
        background-color: #fff2c9;
    }

    .image-slider .dots{
        width: 100px;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -50px;
        object-fit:cover;
    }

    .image-slider .dots .dot{
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #ffeba7;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .image-slider .dots .dot:hover {
        background-color: #2B2E38;
      }

    .image {
        filter: blur(2px);
        -webkit-filter: blur(2px);
        padding-bottom: 2vh;

        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

        overflow: hidden;
        object-fit: cover;
    }
    .image:hover{
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
    .bi-arrow-left-circle-fill{
        height: 1vh !important;
        width: 1vh !important;
        line-height: 0 !important;
        vertical-align: middle !important;
        border-radius: 50%;

    }
    .left {
        position: absolute;
        left: 3rem;
        top: 35%;
        font-size: 6vh;
        color: #000000;
        z-index: 5;
        cursor: pointer;
        user-select: none;
        border-radius: 50%;
        vertical-align: middle !important;


    }

    .left:hover{
        transition-duration: 0.2s;
        color: #ffeba7;
    }
    .right {
        position: absolute;
        right: 3rem;
        
        top: 35%;
        font-size: 6vh;
        color: #000000;
        z-index: 50;
        cursor: pointer;
        user-select: none;
    }
    .right:hover{
        transition-duration: 0.2s;
        color: #ffeba7;
    }
    .currentSlide {
        transition-duration: 0.5s ease;
        opacity: 0;
    }
    .currentSlide.active {
        opacity: 1;
        transition-duration: 0.5s;
        transform: scale(1);
        justify-content: center;

        display: flex;
        flex-direction: row;
        object-fit:cover 
    }

    .title{
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        width: 60vh;
        height: auto;
        opacity: 0.95;
        margin-top: 3vh;
        display: flex;
        flex-direction: row;
        position: fixed;
        background-color: #ffeba7;
        justify-content: center;
        border-radius: 30px;
        /* color: black; */
        opacity: 0.8;
        z-index: 50;
            
    }
    
    .title .titleParagraph{
        /* display: inline-flex; */
        /* flex-direction: column; */
        text-align: center !important;
        font-family: "iransansweb" !important;
        font-weight: bold !important;
        font-size: 3vh !important;
    }

    .linkedTile{
        display: flex;
        flex-direction: row;
        position: fixed;
        justify-content: center;
        z-index: 50;
        cursor: pointer;
    }

    .linkedTile .tile {
        /* background-color: #fafafa; */
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        opacity: 0.8;
        border-radius: 3vh;
        transition: all 0.2s; 
        display: flex;
        flex-direction: row;
        position: fixed;
        /* border: 1px solid red; */
        width: 90%;
        height: 10vh;
        bottom: 8vh;
        background-color: #ffeba7;
        /* z-index: 50; */
        justify-content: center;
        cursor: pointer;
    }
    
    .linkedTile .tile .paragraph{
        display: inline-block !important;
        /* display: table-cell !important; */
        margin-left: 3vh !important;
        font-family: "iransansweb" !important;
        justify-content: center !important;
        font-size: 3vh !important;
        color: #2B2E38 !important;
        vertical-align: middle;
        line-height: 1vh;
        position: relative;
        /* top: 50%; */
        /* vertical-align: middle; */
        /* margin-top: 10%; */
        top: 40%;

    }

    .tile .bi{
        font-size: 3vh;
        position: relative;
        color: #2B2E38;
        margin-left: 1vh;
        vertical-align: middle;
        top: 15%;

    }
    .tile:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    @media screen and (max-width: 642px) {
        .linkedTile .tile{
            width: 98%;
            border-radius: 5px;
          }

          .title{
            width: 50%;
            border-radius: 5px;
          }
    }



}


/* .UpcomingEvents:hover {
    cursor: pointer;
} */