@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

.sidebar {
  font-family: "iransansweb";
  font-weight: 300;
  line-height: 1.3;
  color: #ffeba7;
  background-color: #1f2029;
  overflow-y: hidden;
  overflow: hidden;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #12141d 100%);
  overflow-y: auto;

  .radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #fef9e5;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding-top: 7px;
    width: 300px;
    font-size: 14px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
    height: auto;
  }
}

@media (max-width: 991px) {
  .header-content-div {
    max-width: 75rem;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: 4px;
    color: rgba(51, 65, 85, 1);
    transition: all .5s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #f9d966;
    font-weight: 600;
  }

  
a:hover {
  text-decoration: none;
}
.link {
  color: #ffeba7;
  padding-right: 270px;
  font-size: 12px;
}
.link:hover {
  color: #c4c3ca;
}
.cancel {
  padding-right: 310px;
}
p {
  font-weight: 500;
  padding: 1.5rem 0;
}
.nav-link {
  text-decoration: none;
  color: #333;
  margin: 0 0.5rem;
  padding: 0 0.6rem;
  transition: border-bottom 0.2s;
}
.nav-link:hover {
  color: #e23d3d;
  border-bottom: 2px solid #e23d3d;
}
.nav-link:active {
  color: #f84848;
}


/* .btn {
  border: none;
  font-size: 2rem;
  border-radius: 0.4rem;
  padding: 2rem;
  background-color: #e23d3d;
  color: #fafafa;
  outline: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s;
} */

.btn:hover {
  background-color: #f84848;
  cursor: pointer;
}
.btn:active {
  transform: scale(0.9);
}
.section-heading {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  padding: 5rem 0 5rem 0;
  text-align: center;
}

/* .sec-padding {
  
  padding: 0 0 0 0;
} */
#about {
  background-color: #fafafa;
}
#about img {
  max-width: 100%;
  height: auto;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
}

#varieties {
    padding-top: 160px;
    /* bottom: 0px; */
    background-color: #e3e3e3;
    position: relative;
    right : 15vh;
    /* left: 290px; */
    /* height: 100%; */
    width: 100%;
    /* bottom: 0; */
}

.sec-content-div {
    font-size: 2rem;
    text-align: start;
    padding: 0 2rem 5rem 2rem;
    
    height: 100%;
    width: auto;
    justify-content: space-around;
    max-width: 95rem;
    margin: 0 auto;
}

.flexible {
    display: flex;
    /* position: relative; */
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 100vh;
}

.tile {
  background-color: #fafafa;
  height: 30rem;
  width: 20rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0.5rem;
  transition: all 0.2s;
  padding: 1.5rem;
  margin: 1.5rem;
}

.tile img {
  width: 100%;
  max-width: 48rem;
  border-radius: 0.5rem;
}
.tile h4 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 0;
  color: #e23d3d;
  margin: 0;
}
.tile p {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}
.tile:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
}
#our-service {
  background-color: #ee6f57;
}
.bars {
  height: max-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin: 2rem;
  width: 100%;
}

.bars .icon-container {
  max-width: 10rem;
  flex: 1;
}
.icon-container img {
  max-height: 100%;
  max-width: 100%;
}
.bars .txt-container {
  flex: 2;
  padding: 3rem;
}
select {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
}






.switchButton {
  --s: 25px; /* adjust this to control the size*/
  
  height: calc(var(--s) + var(--s)/5);
  width: auto; /* some browsers need this */
  aspect-ratio: 2.25;
  border-radius: var(--s);
  margin: calc(var(--s)/2);
  display: grid;
  cursor: pointer;
  background-color:#ff7a7a;
  box-sizing: content-box;
  overflow: hidden;
  transition: .3s .1s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.switchButton:before{
  content: "";
  padding: calc(var(--s)/10);
  --_g: radial-gradient(circle closest-side at calc(100% - var(--s)/2) 50%,#000 96%,#0000);
  background: 
    var(--_g) 0 /var(--_p,var(--s)) 100% no-repeat content-box,
    var(--_g) var(--_p,0)/var(--s)  100% no-repeat content-box,
    #fff;
  mix-blend-mode: darken;
  filter: blur(calc(var(--s)/12)) contrast(11);
  transition: .4s, background-position .4s .1s,
    padding cubic-bezier(0,calc(var(--_i,-1)*200),1,calc(var(--_i,-1)*200)) .25s .1s;
}
.switchButton:checked {
  background-color: #85ff7a;
}
.switchButton:checked:before {
  padding: calc(var(--s)/10 + .05px) calc(var(--s)/10);
  --_p: 100%;
  --_i: 1;
}




.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.separator-text {
  padding-top: 6px;
  color: #b3b3b3;
  font-size: 15px;
}

.google-login-button {
  border-radius: 30px;
  color: #ffeba7;
  background-color: #252020;
  font-size: 20px;
  font-family: "iransansweb";
  height: 44px;
  width: 125px;
}
.google-login-button:hover {
  background-color: #000000;
  color: #4285f4;
}

@media (max-width: 1000px){
  .switchButton{
    --s: 20px !important; 
    
  }
  p{
    font-size: 12px !important;
  }
}


@media screen and (max-width: 450px) {
  .link {
    color: #ffeba7;
    padding-right: 245px;
    font-size: 10px;
  }

  .section .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 10px;
  }
  .section .message a {
    color: #30c1c6;
    font-size: 10px;
  }
}

@media screen and (max-width: 420px) {
  .link {
    color: #ffeba7;
    padding-right: 190px;
    font-size: 10px;
  }
}

.section .img{
    border-radius: 50%;
}
}




