.saved-events{
    overflow-x: hidden  ;
    overflow-y: auto;
    height: 100vh;
    background-color: #4b4b4b ;
    
    position: relative;
    left: -9%;
    top: -1px;
    /* max-width: 1690px !important; */
    width: 90%;
    z-index: 1;
}

.registered-events{
    background-color: #4b4b4b;
    position: relative;
    right: -3%;
}
.saved-events::-webkit-scrollbar {
    display: none;
}