@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

body{
  overflow: hidden;
}
.user-info{
  font-family: "iransansweb";
  font-weight: 300;
  line-height: 1.3;
  color: #ffeba7;
  background-color: #1f2029;
  overflow-y: hidden;
  overflow: hidden;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #12141d 100%);
  overflow-y: auto;
}
.user-info{

.userinfo__content__birthdate, .userinfo__content__gender, .userinfo__content__username{
  margin-left: 200px;
  width: 100%;
}
.userinfo__content__birthdate {
  padding-bottom: 20px;
}
.userinfo__content__gender {
  padding: 10px 10px 50px 20px;
  padding-bottom: 25px;
}

.userinfo__content__city {
  padding: 10px 10px 50px 20px;
  padding-bottom: 25px;

}
 input {
  text-align: right;
  padding: 13px 20px;
  padding-right: 55px;
  height: 48px;
  width: 80%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: 2px solid #1f2029;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.userinfo__content__birthdate input{
  width: 104%;
}
.userinfo__content select {
  color: #ffeba7;
  background-color: #1f2029;
  width: 83%;
}


 button {
  border-radius: 4px;
  height: 44px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  background-color: #ffeba7;
  color: #000000;
}

 button:hover {
  background-color: #000000;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.cancel {
  padding-right: 310px;
}
 h2{
  font-weight: 600;
  font-size: 33px;
}
 h4 {
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 20px;
}
.full-height {
  min-height: 100vh;
}

.userinfo__title{
  margin-bottom: 70px;
}
.change-password__title{
  margin-bottom: 50px;
}

.custom-file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0px 25px;
  background-color: #ffeba7;
  color: #000000;
  border: none; 
  border-radius: 5px; 
  cursor: pointer;  
  vertical-align: middle; 
  transition: background-color 0.3s; 
  margin-top: 100px;
  margin-right: 100px;
}
.custom-file-upload:hover {
  background-color: #000000;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.upload-icon{
  padding-top: 5px;
}
.upload-text{
  font-size: 12px;
  padding-right: 5px;
  margin: 0px !important;
}



.card-3d-wrap-ce {
  direction: rtl;
  position: relative;
  width:850px;
  height: 850px;
  max-width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.custom-hr {
  width: 45%;
  border-color: #b3b3b3;
}


.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  display: block;
}




.form-group {
  position: relative;
  display: block; 
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin :0;
}
input[type=number]{
  -moz-appearance: textfield;
}

.form-style-ce {
  text-align: right;
  padding: 13px 20px;
  padding-right: 20px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.province-city{ 
  margin-top: 5px;
  width: 95%;
  background-color: #f4e29b;
}
.city-list-container {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
}
select {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.change-password__content{
  position: relative;
  right: 5%;
}

.change-password__content-current,.change-password__content-new,.change-password__content-confirm {
  padding: 5px 10px 10px 20px;
  padding-bottom: 25px;

}

input.input-error,
select.input-error{
  border-color: #fc8181;
}
 .error{
  color: #fc8181;
  font-size: 12px;
  padding-top: 5px;
  padding-right: 20px;
}
 button:disabled{
  opacity: 0.35;
}

@keyframes open {
  0%  {background-position: 166% -25%, 220% -69%;}
  100%{background-position: 120% -5%, 200% -40%;}
}
.custom-file-upload input[type="file"] {
  display: none;
}

.custom-file-upload {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 6px;
  cursor: pointer;
  background-color: #ffeba7;
  margin-bottom: 25px;
  left: 25%;

}

.img-wrap{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.img-upload:before{
  content: "محل آپلود تصویر پروفایل";
  font-size: 30px;
  position: absolute;
  padding-top: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
  color: #1f2029;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffeba7;
}
.img-upload:hover:before{
 opacity: 1;
}
.img-upload:hover:after{
  opacity: 0;
 }
img {
  width: auto;
  height: 100%;
}
}
@media screen and (max-width: 1000px){
  .user-info{
  .card-3d-wrap-ce{
    height:1200px;
  }
  }
}