.notification-panel {
  font-family: "iransansweb";
  background-color: #4b4b4b;
  color: #ffeba7;
  padding: 20px;
  border-radius: 5px;
  direction: rtl;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  
}
.notification-modal {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.notification-modal::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.close-section {
  background-color: #4b4b4b;
}

.lottie-parent {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 50px;
  bottom: 22%;
}

.lottie-parent p {
  display: inline-block;
  position: relative;
  top: 10px;
  color: #f06868;
  font-size: 15px;
  font-weight: 800;
  right: 20%;
}

.lottie {
  transform: scale(0.8);
}

.notification-modal {
  position: absolute;
  top: 40%;
  left: 62%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  max-width: 400px;
  min-height: 480px;
  max-height: 500px;
}

.notification-panel h4 {
  margin: 0 0 10px 0;
}

.notification-panel label {
  display: block;
  margin-bottom: 10px;
}

.notification-panel input[type="checkbox"] {
  margin-left: 10px;
}

.notification-panel #notification-title {
  display: block;
  margin-bottom: 10px;
  padding: 5px 10px;
}

.notification-panel #read-all:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.notification-panel #notification-title:hover {
  transform: scale(1.02);
}

.notification-panel .content {
  display: flex;
  flex-direction: row;
}

.notification-panel #notification-time {
  position: relative;
  right: 70%;
  font-size: 11px;
}

.notification-panel .title {
  display: flex;
  flex-direction: row;
}

.blue-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: blue;
  border-radius: 50%;
  margin-left: 10px;
}

.notification-panel ul {
  list-style-type: none;
  padding: 0;
}

.notification-panel li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.notification-panel li.is_read {
  background-color: #f0f0f0;
  color: #a0a0a0;
  border: 1px solid #d0d0d0;
}

.notification-panel li.unread {
  background-color: #ffefa0;
  color: #000;
  border: 1px solid #ffc107;
  font-weight: bold;
}

.notification-panel li.is_read:hover {
  background-color: #e0e0e0;
  color: #808080;
}

.notification-panel li.unread:hover {
  background-color: #ffe680;
  color: #333;
  cursor: pointer;
}
