@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

.signin {
  font-family: "iransansweb";
  font-weight: 300;
  line-height: 1.3;
  color: #ffeba7;
  background-color: #1f2029;
  overflow-y: hidden;
  overflow: hidden;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #12141d 100%);
  overflow-y: auto;
}
.validationMsg {
  font-size: x-small;
  direction: rtl;
  text-align: start;
  color: #ffa500;
  font-weight: 1000;
  font-family: "iransansweb";
}
.invalid {
  border: solid;
  border-color: #ff6200 !important;
  border-radius: 8px;
}
a:hover {
  text-decoration: none;
}
.link {
  color: #ffeba7;
  padding-right: 270px;
  font-size: 12px;
}
.link:hover {
  color: #c4c3ca;
}
.cancel {
  padding-right: 310px;
}
p {
  font-weight: 500;
  font-size: 14px;
}
h4 {
  font-weight: 600;
}
.section {
  position: relative;
  width: 100%;
  display: block;
}
.full-height {
  min-height: 100vh;
}
.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.custom-hr {
  width: 45%;
  border-color: #b3b3b3;
}

.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  display: block;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  background-color: #2b2e38;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/dark_embroidery.png");
  position: absolute;
  border-radius: 6px;
  -webkit-transform-style: preserve-3d;
}
.section .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.section .message a {
  color: #30c1c6;
  font-size: 13px;
}
.section .message a:hover {
  color: #3064c6;
}

.form-group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
.form-style {
  text-align: right;
  padding: 13px 20px;
  padding-right: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.input-icon {
  position: absolute;
  top: 0;
  right: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.btn {
  border-radius: 4px;
  height: 44px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  background-color: #ffeba7;
  color: #000000;
}

.btn:hover {
  background-color: #000000;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.separator-text {
  padding-top: 6px;
  color: #b3b3b3;
  font-size: 15px;
}

.google-login-button {
  border-radius: 30px;
  color: #ffeba7;
  background-color: #252020;
  font-size: 20px;
  font-family: "iransansweb";
  height: 44px;
  width: 125px;
}
.google-login-button:hover {
  background-color: #000000;
  color: #4285f4;
}

@media screen and (max-width: 450px) {
  .link {
    color: #ffeba7;
    padding-right: 245px;
    font-size: 10px;
  }

  .section .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 10px;
  }
  .section .message a {
    color: #30c1c6;
    font-size: 10px;
  }
}

@media screen and (max-width: 420px) {
  .link {
    color: #ffeba7;
    padding-right: 190px;
    font-size: 10px;
  }
}
