.bookmarked-events{
    overflow-x: hidden  ;
    overflow-y: auto;
    height: 100vh;
    background-color: #4b4b4b ;
    max-width: 1500px;
    position: relative;
    left: -9%;
    top: -1px;
    max-width: 1690px !important;
    
}

.bookmarked-events-container{
    background-color: #4b4b4b;
    position: relative;
    right: -3%;
}
.bookmarked-events::-webkit-scrollbar {
    display: none;
}