.event-filter {
  color: #ffeba7;
  font-family: "iransansweb";
  font-size: 14px;
  margin: 20px 0;
  padding: 0 10px;
  height: 320px;
  border: 1px solid #ffeba7;
  padding: 30px;
  margin: 15px;
  border-radius: 5px;
  font-weight: 300;
  line-height: 1.43;
  direction: rtl;
}

.event-filter {
  .event-filter__date-start input {
    border: 1px solid #ffeba7 !important;
  }
  i {
    height: 1px;
  }
  .input-icon {
    color: #ffeba7;
    position: absolute !important;
    display: flex !important;
  }
  .row {
    margin: 25px 350px 25px 0;
  }
  .event-filter__date-end i {
    top: 50%;
  }
  .event-filter__date-start i {
    top: 50%;
  }
  .event-filter__date-end input {
    border: 1px solid #ffeba7 !important;
  }
  .event-filter__category select {
    border: 1px solid #ffeba7 !important;
  }
  .event-filter__category {
    display: flex;
    flex-direction: column;
  }
  .event-filter__type {
    display: flex;
    flex-direction: column;
  }
  .event-filter__price {
    display: flex;
    flex-direction: column;
  }
  select {
    color: #ffeba7;
    background-color: #1f2029;
    border: 1px solid #ffeba7;
  }
  button {
    border-radius: 4px;
    height: 54px;
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    background-color: #ffeba7;
    color: #000000;
    justify-content: center;
    width: 10%;
  }
  button:hover {
    background-color: #000000;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
  }
  input {
    text-align: right;
    padding: 13px 20px;
    padding-right: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: 2px solid #1f2029;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
  }
  label {
    font-weight: 400;
    font-size: 16px;
  }
}

@media screen and (max-width: 1330px) {
}
