.items-wrapper {
  border-top: 4px solid black;
  background: radial-gradient(ellipse at bottom, #303131 0%, #12141d 100%);
}

.item {
  height: 28em;
  width: 20em;
  font-family: "iransansweb";
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  align-content: center;
  flex-direction: column;
  margin: 0.5em;
  padding: 1em;
  direction: rtl;
  cursor: pointer;
  background-color: #4b4b4b;
  border-radius: 5px;
  border: 1px solid #ffeba7;
}
.items-title {
  color: #ffeba7;
  font-family: "iransansweb";
  margin: 1px;
  padding: 3px;
  border-bottom: 2px solid black;
  background: radial-gradient(ellipse at bottom, #303131 0%, #24262f9b 100%);
  border-radius: 10px;
}

.items {
  font-family: "iransansweb";
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at bottom, #303131 0%, #12141d 100%);
  background-color: #1f2029;
  height: 150vh;
  overflow: hidden;
  position: relative;
}

.item:hover {
  transform: scale(1.05);
}

.item:hover .event-img img {
  transform: scale(1.05);
}

.item:hover .event-details {
  transform: scale(1.05);
}

a {
  color: black;
}

.event-img img {
  flex: 1;
  height: 12em;
  width: auto;
  object-fit: cover;
}

.event-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.item h1 {
  color: #ffeba7;
  font-size: 30px;
  margin: 0 1rem;
}

.item h4 {
  color: #ffeba7;
  font-size: 14px;
  font-weight: 300;
  margin: 0 1rem;
}
.item h5 {
  color: #ffeba7;
  font-size: 15px;
  font-weight: 300;
  margin: 0 1rem;
}

.event-details {
  align-items: start;
  margin-left: 50px;
}
.event-details__price {
  font-size: 1rem;
  font-weight: 400;
  color: #ffeba7;
}
.event-details__title {
  margin: 1px;
  margin-right: 45px;
  padding: 3px;
  border-bottom: 2px solid black;
  background: radial-gradient(ellipse at bottom, #303131 0%, #0e0e1254 100%);
  border-radius: 10px;
  width: 80%;
}
.items {
  i {
    height: 1px;
  }
  .input-icon {
    color: #ffeba7;
    position: relative !important;
    display: flex !important;
  }
  .event-details__date {
    display: flex;
    flex-direction: row-reverse;
  }
  .event-details__address {
    display: flex;
    flex-direction: row-reverse;
  }
  .event-details__category {
    display: flex;
    flex-direction: row-reverse;
  }
  .event-details__price {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 1300px) {
  .items-wrapper {
    .item {
      width: 90%;
    }
    .item h1 {
      color: #ffeba7;
      font-size: 20px;
      margin: 0 1rem;
    }
    .item h4 {
      color: #ffeba7;
      font-size: 10px;
      font-weight: 300;
      margin: 0 1rem;
    }
    .item h5 {
      color: #ffeba7;
      font-size: 11px;
      font-weight: 300;
      margin: 0 1rem;
    }
    .event-details__title {
      margin: 1px;
      margin-right: 45px;
      padding: 2px;
      border-bottom: 1px solid black;
      background: radial-gradient(
        ellipse at bottom,
        #303131 0%,
        #0e0e1254 100%
      );
      border-radius: 10px;
      width: 80%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .items-wrapper {
    .item {
      width: 90%;
    }
    .item h1 {
      color: #ffeba7;
      font-size: 20px;
      margin: 0 1rem;
    }
    .item h4 {
      color: #ffeba7;
      font-size: 10px;
      font-weight: 300;
      margin: 0 1rem;
    }
    .item h5 {
      color: #ffeba7;
      font-size: 11px;
      font-weight: 300;
      margin: 0 1rem;
    }
    .items {
      display: flex;
      flex-direction: row;
      flex: 3 auto;
    }
    .event-details__title {
      margin: 1px;
      margin-right: 45px;
      padding: 2px;
      border-bottom: 1px solid black;
      background: radial-gradient(
        ellipse at bottom,
        #303131 0%,
        #0e0e1254 100%
      );
      border-radius: 10px;
      width: 80%;
    }
    .event-img img {
      height: 9em;
      width: auto;
      object-fit: cover;
    }
  }
}
