.event-filter {
  color: #ffeba7;
  font-family: "iransansweb";
  font-size: 14px;
  margin: 20px 0;
  padding: 0 10px;
  height: 320px;
  border: 1px solid #ffeba7;
  border-radius: 30px !important;
  padding: 30px;
  margin: 15px;
  border-radius: 5px;
  font-weight: 300;
  line-height: 1.43;
  direction: rtl;
}

.event-filter {
  .event-filter__date-start input {
    border: 1px solid #ffeba7 !important;
  }
  i {
    height: 1px;
  }
  .input-icon {
    color: #ffeba7;
    position: absolute !important;
    display: flex !important;
  }
  .row {
    margin: 25px 00px 25px 0;
  }
  .event-filter__date-end i {
    top: 50%;
  }
  .event-filter__date-start i {
    top: 50%;
  }
  .event-filter__date-end input {
    border: 1px solid #ffeba7 !important;
  }
  .event-filter__category select {
    border: 1px solid #ffeba7 !important;
  }
  .event-filter__date-start {
    position: relative;
    width: 45%;
    margin-left: 260px;
    right: 7%;
  }
  .event-filter__date-end {
    position: relative;
    width: 45%;
    margin-left: 260px;
    left: 50%;
  }
  .event-filter__category {
    display: flex;
    flex-direction: column;
  }
  .event-filter__type {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 280px;
    right: 20%;
  }
  .event-filter__price {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    right: 20%;
  }
  select {
    color: #ffeba7;
    background-color: #1f2029;
    border: 1px solid #ffeba7;
    height: 50px;
  }
  input {
    text-align: right;
    padding: 13px 20px;
    padding-right: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: 2px solid #1f2029;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
  }
  label {
    font-weight: 400;
    font-size: 16px;
  }
}

@media screen and (max-width: 1450px) {
  .event-filter {
    height: 600px;
    .row {
      /*margin: 20px 300px 20px 0;
      margin-right: 0;*/
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    label {
      font-size: 12px;
      font-weight: 200;
    }
    .event-filter__category {
      width: 50%;
    }
    .event-filter__type {
      width: 70%;
      margin: 0;
      left: 0%;
      right: 0%;
    }
    .event-filter__price {
      width: 70%;
      margin: 0;
      margin-top: 10px;
      left: 0%;
      right: 0%;
    }
    .event-filter__date-start {
      width: 70%;
      margin: 0;
      margin-top: 10px;
      left: 0%;
      right: 0%;
    }
    .event-filter__date-end {
      width: 70%;
      margin: 0;
      margin-top: 10px;
      left: 0%;
      right: 0%;
    }
  }
}

@media screen and (max-width: 900px) {
  .event-filter {
    height: 600px;
    .row {
      /* margin: 20px 0px 20px 50px; */
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      left: 20%;
    }
    label {
      font-size: 12px;
      font-weight: 200;
    }
    .input-icon {
      transform: scale(0.8);
      left: 100%;
    }
    .event-filter__category {
      position: relative;
      width: 170%;
      left: 35%;
    }
    .event-filter__type {
      width: 300%;
    }
    .event-filter__price {
      width: 300%;
    }
    .event-filter__date-start {
      display: flex;
      flex-direction: column;
      width: 300%;
    }
    .event-filter__date-end {
      display: flex;
      flex-direction: column;
      width: 300%;
      margin: 0;
      margin-top: 10px;
      left: 0%;
      right: 0%;
    }
  }
}

@media screen and (max-width: 600px) {
  .event-filter {
    height: 600px;
    .row {
      /* margin: 20px 0px 20px 50px; */
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      left: 27%;
    }
    label {
      font-size: 12px;
      font-weight: 200;
    }
    .input-icon {
      transform: scale(0.8);
      left: 100%;
    }
    .event-filter__category {
      position: relative;
      width: 200%;
      left: 50%;
    }
    .event-filter__type {
      width: 400%;
    }
    .event-filter__price {
      width: 400%;
    }
    .event-filter__date-start {
      display: flex;
      flex-direction: column;
      width: 400%;
    }
    .event-filter__date-end {
      display: flex;
      flex-direction: column;
      width: 400%;
      margin: 0;
      margin-top: 10px;
      left: 0%;
      right: 0%;
    }
  }
}

@media screen and (max-width: 400px) {
  .event-filter {
    height: 600px;
    .row {
      /* margin: 20px 0px 20px 50px; */
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      left: 22%;
    }
    label {
      font-size: 12px;
      font-weight: 200;
    }
    .input-icon {
      transform: scale(0.8);
      left: 100%;
    }
    .event-filter__category {
      position: relative;
      width: 200%;
      left: 50%;
    }
    .event-filter__type {
      width: 400%;
    }
    .event-filter__price {
      width: 400%;
    }
    .event-filter__date-start {
      width: 400%;
    }
    .event-filter__date-end {
      width: 400%;
      margin: 0;
      margin-top: 10px;
      left: 0%;
      right: 0%;
    }
  }
}
